@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/pertili.ttf');
}

.gd-case-section {
  text-transform: uppercase;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 48px 0;
  @media(min-width: 769px) {
    line-height: 50px;
  }
  @media(max-width: 768px) {
    padding: 24px 0;
    line-height: 1.11;
  }

  &:hover {
    background-color: black;
  }

  &:hover .gd-case-title {
    color: white;
  }
  &:hover .horizontal-line {
    color: white;
  }
  &:hover .gd-case-description {
    color: white;
  }

  img {
    position: relative;
    bottom: 12px;
    margin-left: 7px;
    padding-right: 7px;
    width: 38px;
    @media(max-width: 768px) {
      top: -2px;
      width: 24px;
    }
  }

  .gd-case-link {
    text-decoration: none;
    color: black;
  }

  .gd-case-title {
    font-family: 'akdidenz-bold';
    font-size: 42px;
    @media(max-width: 480px) {
      font-size: 18px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 34px;
      line-height: 38px;
    }
  }

  .horizontal-line {
    font-size: 3vw;
    font-weight: 100;
    padding: 0px 10px;
  }

  .gd-case-description {
    font-family: 'perpetua';
    font-size: 40px;
    @media(max-width: 480px) {
      font-size: 16px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 32px;
    }
  }
}
