@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

.product-detail-container {
  img.iphone {
    @media(min-width: 768px) {
      max-height: 400px;
      max-width: auto;
    }
    margin-bottom: 2.5em;
  }
}
