img.iphone {
  margin: 2em 0;
  &:last-of-type {
    margin: 2em 0 0;
  }
}

img.nike-white {
  margin: 3em 0;
}

img.nike-action {
  margin: 2em 0;
}

#video {
  @media(min-width: 375px) {
    height: 200px;
  }
  @media(min-width: 480px) {
    height: 320px;
  }
  @media(min-width: 768px) {
    height: 400px;
  }
  @media(min-width: 1024px) {
    height: 560px;
  }
}
