@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/font-map-perpetua-titling-mt.png');
}

.title {
  font-family: 'akdidenz-bold';
  text-transform: uppercase;
  font-size: 3vw;
  @media(max-width: 768px) {
    font-size: 4.25vw;
  }
}

.detail-header {
  background-color: #f9f9f9;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em 1em 1em;
  z-index: 1;

  .cta {
    text-align: right;
    font-family: 'perpetua';
    text-transform: uppercase;
    @media(min-width: 960px) {
      font-size: 1.5vw;
    }
  }
}
