@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/font-map-perpetua-titling-mt.png');
}

.product-case-section {
  text-transform: uppercase;
  text-align: center;
  background-color: #fff4e1;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 50px 0;

  img {
    display: inline;
    padding-right: 10px;
  }
  .pp-icon{
    max-height: 4em;
    max-width: 10em;
  }
  .nike-icon {
    max-height: 3em;
    max-width: 5em;
  }

  .product-case-link {
    text-decoration: none;
    color: black;
  }

  .product-case-title {
    font-family: 'akdidenz-bold';
    font-size: 42px;
  }

  .horizontal-line {
    font-size: 40px;
    font-weight: 100;
    padding: 0px 10px 30px;
  }

  .product-case-description {
    font-family: 'perpetua';
    font-size: 40px;
  }
}

#post {
  margin-top: 160px;
}
