@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/pertili.ttf');
}

.product-case-section {
  text-transform: uppercase;
  background-color: #fff4e1;
  width: 100%;
  @media(min-width: 769px) {
    line-height: 50px;
  }
  border-bottom: 1px solid black;
  @media(max-width: 768px) {
    padding: 24px 0;
  }
  padding: 48px 0;
  &:hover {
    background-color: black;
  }
  &:hover .product-case-title {
    color: white;
  }
  &:hover .horizontal-line {
    color: white;
  }
  &:hover .product-case-description {
    color: white;
  }

  img {
    display: inline;
    padding-right: 10px;
  }
  .pp-icon{
    position: relative;
    top: -10px;
    max-width: 10em;
    @media(max-width: 768px) and (min-width: 481px) {
      top: -2px;
      max-width: 153px;
    }
    @media(max-width: 480px) {
      top: -2px;
      max-width: 6em;
    }
  }
  .nike-icon {
    position: relative;
    top: -7px;
    max-width: 5.4em;
    @media(max-width: 768px) and (min-width: 481px) {
      max-width: 74px;
    }
    @media(max-width: 480px) {
      top: -2px;
      width: 40px;
    }
  }

  .product-case-link {
    text-decoration: none;
    color: black;
  }

  .product-case-title {
    font-family: 'akdidenz-bold';
    font-size: 42px;
    @media(max-width: 480px) {
      font-size: 18px;
      line-height: 22px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 34px;
      line-height: 38px;
    }
  }

  .horizontal-line {
    font-size: 3vw;
    font-weight: 100;
    padding: 0px 10px;
  }

  .product-case-description {
    font-family: 'perpetua';
    font-size: 40px;
    color: black;
    @media(max-width: 480px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
