@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'akdidenz-reg';
  src: url('../../fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf');
}

.description {
  padding: 1.5em 0;

  .description-title {
    font-family: 'akdidenz-bold';
    font-size: 1.25em;
    text-transform: uppercase;
  }
  .description-text {
    font-family: 'akdidenz-reg';
    font-size: 1.25em;
    white-space: pre-wrap;
  }
  .description-text > * {
    font-size: 1em;
  }
}
