@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

.product-detail-container {
  background-color: #f9f9f9;
  img {
    margin-left: 15px;
  }

  img.prev, img.journey, img.placeholder {
    max-width: 100%;
  }

  img.journey {
    margin-bottom: 0.75em;
  }

  img.placeholder {
    margin-top: 0.75em;
  }

  hr {
    border-color: black;
  }

  .section-header {
    padding-top: 2em;
    font-family: 'akdidenz-bold';
    text-transform: uppercase;
    font-size: 3vw;
    @media(max-width: 768px) {
      font-size: 4.25vw;
    }
  }
}
