@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'akdidenz-reg';
  src: url('../../fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf');
}

.product-detail-container {
  background-color: #f9f9f9;
  .product-detail-content {
    padding: 0 1em;
  }

  img {
    width: 100%;
  }

  .pic-desc {
    padding: 0.5em 0;
    color: #9b9b9b;
  }

  hr {
    border-color: black;
  }

  .section-header {
    padding: 1.5em 0 0.5em;
    font-family: 'akdidenz-bold';
    text-transform: uppercase;
    font-size: 3vw;
    @media(max-width: 768px) {
      font-size: 5.5vw;
    }
  }
}
