@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

.product-detail-container {
  img.journey {
    margin-bottom: 0.75em;
  }

  img.placeholder {
    margin-top: 0.75em;
  }
}
