.case-detail-section {
  text-transform: uppercase;
  text-align: center;
  background-color: beige;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 50px 0;

  .case-detail-link {
    text-decoration: none;
    color: black;
  }
}

#flyer {
  margin-top: 143px;
}
